<ion-header>
    <ion-navbar>
        <ion-buttons start>
            <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        </ion-buttons>
        <ion-title>Principal</ion-title>
        <ion-buttons end>
            <button ion-button>
          <ion-icon name="search"></ion-icon>
        </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>

    <ion-grid class="serviceGrid">
        <ion-row>
            <!-- class="serviceGrid" -->
            <ion-col col-6>

                <ion-buttons end>
                    <button class="ContentColor" color="light" ion-button>
                        <ion-icon name="call"></ion-icon>
                        <a class="item" href="#" (click)='callSimple()'>Portería</a>
                    </button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </ion-buttons>
            </ion-col>

            <ion-col col-6>
                <ion-buttons>
                    <button class="ContentColor" color="light" ion-button>
                        <ion-icon name="chatbubbles"></ion-icon>
                        <a class="item" href="#" (click)='openWhatsapp()'>Chat</a>
                    </button>
                </ion-buttons>
            </ion-col>

        </ion-row>
    </ion-grid>

    <div style="text-align: center;padding:15px; font-size: 16px;">
        <b>Mis mensajes</b>
    </div>

    <ion-card class="ContentColor" *ngIf="personalInfo != undefined">
        <ion-card-header>
            <ion-icon name="checkmark-circle-outline"></ion-icon>
            <b> {{personalInfo.Asunto}}</b>
        </ion-card-header>

        <ion-card-content>

            <span class="Things">
                {{personalInfo.Comentario}}
            </span>

            <div class="right">
                <button ion-button icon-right (click)="RedirectPersonalPage(personalInfo)">
                    &nbsp;&nbsp;Ver&nbsp;&nbsp;
            </button>

            </div>

        </ion-card-content>
    </ion-card>

    <ion-card class="ContentColor" *ngIf="grupalInfo != undefined">
        <ion-card-header>
            <ion-icon name="star"></ion-icon>
            <b> {{grupalInfo.Asunto}}</b>
        </ion-card-header>

        <ion-card-content>
            <span class="Things">
                    {{grupalInfo.Comentario}}
            </span>
            <div class="right">
                <button ion-button icon-right (click)="RedirectCircularPage(grupalInfo)">
                    &nbsp;&nbsp;Ver&nbsp;&nbsp;
                </button>
            </div>
        </ion-card-content>
    </ion-card>

    <ion-card *ngIf="(grupalInfo == undefined && personalInfo == undefined)">
        <ion-card-header>
        </ion-card-header>

        <ion-card-content>
            <span class="Things">
                    <div style="text-align: center;padding:15px; font-size: 16px;">
                            Sin mensajes
                    </div>
                <br />
            </span>
        </ion-card-content>
    </ion-card>

</ion-content>

<ion-footer>
    <!-- <button ion-button block color="secColor">Buscar cupones</button> -->
</ion-footer>